@using task_1.Models;

@model List<Games>


<ul class="row" style="background-color:rgba(0, 0, 0, 0.5); padding:30px">
	@foreach (var item in Model)
	{
		<li style="color:white" class="col-4">
			<img height="150" width="150" src="@item.Photo" style="object-fit:contain;"><br>
			<br> @item.Name<br>
			@item.ReleaseDate<br> @item.Title <br>
			@item.Price
		</li>

	}
</ul>
